html,
body {
  overscroll-behavior: none;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  letter-spacing: 0.75px;
  line-height: 150%;
}

ul,
ol {
  list-style: none;
}

/* header */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100vw;
}

h1 {
  font-size: 3vh;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding: 2.5vh 1rem;
  /* color: #2563eb; */
}

/* nav need rework */
#menu-icon {
  padding: 0.5rem 1rem;
  margin: calc(2.5vh - 0.5rem) 1rem;
  background-color: rgb(67, 67, 67);
  border-radius: 10rem;
  color: white;
  font-size: 2vh;
  font-weight: 400;
}

#nav-links {
  display: none;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: beige;
  padding: 15px;
  border-radius: 5px;
}

#nav-links.show {
  display: flex;
}

/* about */
/* first about */
#first-about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* swiper style */
.card-container {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100vw;
  justify-content: center;
}

.card-container .card-list {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-snap-type: x mandatory;
  gap: 5vw;
  padding: 0 1rem;
}

/* Hide scrollbar for Webkit-based browsers */
.card-container .card-list::-webkit-scrollbar {
  display: none;
}

.card-container .card-list .card-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  scroll-snap-align: start;
  scroll-margin-left: 1rem;
  padding: 1.5vh 1rem;
  color: white;
  border-radius: 15px;
  gap: 1.5vh;
}

.card-item.xr {
  background-color: #6366f1;
}

.card-item.webdev {
  background-color: #fb7185;
}

.card-item.hci {
  background-color: #10b981;
}

.card-container .card-list .card-item .card-item-title {
  font-size: 2.5vh;
  font-weight: 400;
  line-height: 4vh;
  font-style: italic;
}
#placeholder {
  height: 42vh;
  width: 30vh;
}
.card-container .card-list .card-item video {
  height: 42vh;
  border-radius: 30px;
}

.card-container .card-list .card-item button {
  font-size: 2.5vh;
  font-weight: 400;
  font-style: italic;
  border-radius: 10rem;
  border: none;
  padding: 0.25rem 1.5rem;
  letter-spacing: 2px;
  background-color: white;
}

.button-container {
  align-self: flex-end;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.scroll-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 4vh;
  width: 4vh;
  height: 4vh;
  padding: 2.5vh;
  background-color: rgb(230, 230, 230);
  color: rgb(133, 133, 133);
  border: none;
  border-radius: 50%;
}

/* name */
#name {
  font-weight: 400;
  font-size: 2.5vh;
  line-height: 5.5vh;
  align-self: flex-start;
  padding-left: 1em;
  font-style: italic;
}

#name span {
  font-family: "Playfair Display", serif;
  font-size: 4.5vh;
  font-weight: 700;
  font-style: italic;
}

/* second about */
#second-about {
  height: 100vh;
}

/* third about */
#third-about {
  height: 100vh;
}

/* fourth about */
#fourth-about {
  height: 100vh;
}
