html,
body {
  overscroll-behavior: none;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  letter-spacing: 0.5px;
  line-height: 120%;
}

ul,
ol {
  list-style: none;
}

/* header */
header {
  /* position: fixed;
  top: 0;
  z-index: 1000; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100vw;
}

h1 {
  font-size: 2.5vh;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding: 2.5vh 1rem;
  /* color: #2563eb; */
}

/* nav need rework */
#menu-icon {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 0.5rem 1rem;
  margin: calc(2.5vh - 0.5rem) 1rem;
  background-color: rgb(67, 67, 67);
  border-radius: 10rem;
  color: white;
  font-size: 2vh;
  font-weight: 400;
}

#nav-links {
  display: none;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: beige;
  padding: 15px;
  border-radius: 5px;
}

#nav-links.show {
  display: flex;
}

/* about */
/* first about */
#first-about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2vh;
  margin-top: 2.5vh;
}

/* name */
#name {
  font-size: 2.5vh;
  line-height: 3vh;
  align-self: flex-start;
  padding: 0 1em;
}

/* swiper style */
.card-container {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100vw;
  justify-content: center;
}

.card-container .card-list {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-snap-type: x mandatory;
  gap: 5vw;
  padding: 0 1rem;
}

/* Hide scrollbar for Webkit-based browsers */
.card-container .card-list::-webkit-scrollbar {
  display: none;
}

.card-container .card-list .card-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  scroll-snap-align: start;
  scroll-margin-left: 1rem;
  padding: 2.5vh 1rem;
  color: white;
  border-radius: 25px;
  gap: 2.5vh;
}

.card-item.xr {
  background-color: #6366f1;
}

.card-item.webdev {
  background-color: #fb7185;
}

.card-item.hci {
  background-color: #10b981;
}

.card-container .card-list .card-item .card-item-title {
  font-size: 2.5vh;
  line-height: 3vh;
  align-self: flex-start;
}
#placeholder {
  height: 50vh;
  width: 30vh;
}
.card-container .card-list .card-item video {
  height: 50vh;
  border-radius: 30px;
}

.card-container .card-list .card-item button {
  font-size: 2.5vh;
  font-style: italic;
  border-radius: 10rem;
  border: none;
  padding: 0.25rem 1.5rem;
  background-color: white;
}

/* nav button */
.button-container {
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.scroll-arrow {
  background-color: transparent;
  width: 2vh;
  height: 2vh;
  border: solid rgb(133, 133, 133);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.scroll-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.scroll-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

/* second about */
#second-about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 1rem;
  align-items: center;
  gap: 2.5vh;
}

#msi {
  font-size: 2.5vh;
  line-height: 5vh;
  font-style: italic;
  align-self: flex-start;
  text-align: start;
}

#second-about span {
  font-size: 3vh;
  font-weight: 600;
  letter-spacing: 1.5px;
  /* -webkit-text-stroke-color: #00274c;
  -webkit-text-stroke-width: 2px;
  -webkit-text-fill-color: white; */
}

#second-about img {
  height: 40vh;
  border-radius: 20px;
}

/* #goblue {
  align-self: center;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 3.5vh;
  font-weight: 600;
} */

#study-hci {
  align-self: flex-end;
  text-align: end;
  font-size: 2.5vh;
  line-height: 5vh;
  font-style: italic;
}

/* third about */
#third-about {
  height: 100vh;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #00274c;
  color: #cfc096;
  align-items: center;
}

#third-about span {
  font-weight: 600;
  font-size: 3.5vh;
  letter-spacing: 1.5px;
}

#my-training {
  font-size: 2.5vh;
  line-height: 5vh;
  font-style: italic;
}

#passion {
  font-size: 2.5vh;
  line-height: 5vh;
  font-style: italic;
  align-self: flex-end;
  text-align: end;
}

/* fourth about */
#fourth-about {
  height: 100vh;
}
